section.main-section{
  height: 300px;
}

.fanart-button{
  position: relative;
  width: 250px;
  height: 100px;
  overflow: hidden;
}

.fanart-button span{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 24px;
  font-weight: 600;
  color: var(--black);
  opacity: 0;
  transition: 0.3s;
}

.fanart-button img{
  position: absolute;
  top: -34%;
  right: -13%;
  height: 200%;
  transition: 0.3s;
}

.fanart-button:hover span{
  opacity: 1;
}

.fanart-button:hover img{
  opacity: 0.5;
}
